/*Created By Lalit*/
body {
	background-color: #eee;
	z-index: -50;
}

.event-upper-background{
	background-color: #90a4ae;;
	height: 45vh;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -10;
}

.event-page{
	background-color: white;
	box-shadow: 0px 0px 10px grey;
	padding: 60px 30px 60px 30px;
	min-height: 400px;
	top: 0;
    left: 0;
    margin-top: 75px;
	z-index: 10
}
