<div  style="background-image: url('./images/11.jpg'); background-repeat: no-repeat; background-size: cover;
background-position: center; height: 95vh;">
<div class="home-intro" style="height: 100%; background-color: rgba(96, 125, 139, 0.75);">
	
	<div class="container">
		<h3 class="home-intro-heading animated fadeInLeft">Student Activity Center</h3>
		<p class="home-intro-content animated fadeInLeft">Government Engineering College, Bikaner is one among the most renowned technical institutes of Rajasthan. The institute is known not only for academic excellence but also for offering superior opportunities to its students to participate in recreational and creative activities. These activities are administered through the Student Affairs Council (SAC), which serves as the nerve Centre of all cocurricular activities in the campus.</p>
		<br><br>
		<h3 class="optional-content home-intro-heading right-align animated fadeInRight">Optional Content</h3>
		<p class="optional-content home-intro-content right-align animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>

	</div>
</div>
</div>
<section style="margin-bottom: 50px" class="container">
	
	<div>
		<h3 class="home-events-header">Upcoming Events</h3>
		<p style="color:grey; font-size: 20px">These are upcoming events from all the clubs arrenged by earliest first.</p>
		  <ul class="collapsible" data-collapsible="accordion">
		      <li ng-repeat="event in home_events | orderBy: 'event_date' | limitTo: 10">
		       <div class="blue-grey darken-2 white-text collapsible-header club-info-text-white">
		            <span style="float: left;">{{event.event_name}}</span>
		            <span style="float: right;">{{event.event_club}} | {{event.event_date | date}}</span>
		         </div>
		       <div class="collapsible-body"><p>{{event.short_info}}<br><br><a class="btn waves-effect waves-light" href="#/clubs/event/{{event._id}}">More info</a></p></div>
		      </li>
		  </ul>
		  <p style="color:grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

</section>

<section ng-repeat="s in societies" class="{{s.color}} home-society-1">
	<div class="row container">
		<div class="col s12 m6 l6 {{s.alignment}}">
			<h3><a href="#/{{s.id}}" class="white-text">{{s.name}}</a></h3>
			<p>{{s.description}}</p>
		</div>
		<div class="col s12 m6 l6">
			<div class="row">
		      <div ng-repeat="club in s.club_ids" class="col s12 m12 l6">
		        <div class="card-panel white hoverable">
		          <a class="blue-grey-text" href="#/{{s.id}}/{{club.id}}"><span><h6><b>{{club.name}}</b></h6></span><hr>
		          <span class="blue-grey-text">{{club.info | limitTo:250}}... </span><span class="blue-text"> more</span></a>

		        </div>
		      </div>
		    </div>
		</div>
		<div ng-hide="{{s.club_ids[0]}}" class="col s12 m6 center-align">
			<i  class="material-icons home-icon center">error_outline</i>
		</div>
	</div>
</section>

