.home-intro{color:white;padding-top:50px;padding-bottom:50px;box-shadow:0 3px 10px grey}
.home-intro-content{font-size:1.3em}.gallery-img{position:relative;padding:2px}.home-society-header{margin-top:60px}
.home-events-header{margin-top:60px}.home-society-1{padding-top:80px;padding-bottom:50px;color:white}
.home-icon{font-size:200px}@media only screen and (max-width:760px){.optional-content{display:none}
}